<div class="wrapper-cart">
  <h1 class="cart--title">Create</h1>
  <div [formGroup]="product">
    <div class="form-control">
      <label for="name">Name: </label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="name.dirty || name.touched">
        <span style="color: red;" *ngIf="name.hasError('required')">Name is required</span>
      </div>
    </div>
    <div class="form-control">
      <label for="price">Price: </label>
      <input type="text" id="price" formControlName="price">
      <div *ngIf="price.dirty || price.touched">
        <span style="color: red;" *ngIf="price.hasError('required')">Price is required</span>
      </div>
    </div>
    <button class="btn-submit" (click)="handleAddCart()">Create</button>
  </div>
</div>